* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #090c10;
  color: white;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  font-family: inherit;
}